:root {
    --test-border: 3px solid #eb4034;
}

* {
    border: var(--test-border);
}

html, body {
    height: 100%;
}

.body-grid {
    height: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1.5fr 5fr;
}

/* Header */

.header {
    grid-area: 1/2/1/2;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.input-pair {
    padding-left: 20px;
    align-self: center;
}

.search-button {
    height: 30px;
    width: 30px;
    background-color: rgba(0,0,0,0);
    border: none;
    vertical-align: bottom;
}

#search {
    width: 80%;
    border-radius: 15px;
    padding-left: 10px;
    align-self: center;
}

.user-nav {
    display: grid;
    grid-template-columns: 1fr 65px 130px;
    justify-items: end;
    column-gap: 10px;
}

.notifications {
    height: 30px;
    width: 30px;
    align-self: center;
    background-color: rgba(0,0,0,0);
    border: none;
}

.user-icon-top {
    height: 65px;
    width: 65px;
    align-self: center;
    background-color: rgba(0,0,0,0);
    border: none;
}

.user-nav-name {
    font-size: 1.25rem;
    font-weight: 700;
    align-self: center;
    justify-self: start;
}

/* Side bar */

.side-bar {
    grid-area: 1/1/3/1;
}

.content {
    grid-area: 2/2/2/2
}